
    <div class="col-md-12">
      <div class="card card-plain title-style-header">
          <div class="card-header">
              <div class="row">
                  <div class="col-7" >
                      <h4 class="card-title" >Customer</h4>
                  </div>
                  <div class="col-3" >
                      <form >
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                              </div>
                              <nav class="navbar">
                                <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
                              </nav>
                            </div>
                          </div>
                        </form>
                  </div>
          
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
            <div class="row" *ngIf="pageControl.count">
              <div class="col-sm-6">
                  <p> Showing {{ pageControl.count === 0 ? 0 : pageControl.skip + 1 }} to
                      {{uiService.cal(pageControl.page,pageControl.limit,pageControl.count)}}
                      of {{pageControl.count}} entries </p>
              </div>
              <div class="col-sm-6 text-right">
                  <pagination-controls 
                      (pageChange)="pageControl.page = $event;this.pageControl.skip = (this.pageControl.page - 1) * this.pageControl.limit;"
                      directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next"
                      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"></pagination-controls>

                      
              </div>
          </div>
              <div class="table-responsive">
                  <table class="table">
                      <thead class="text-success">
                          <th> SR. No. </th>
                          <th> ID </th>
                          <th> Name </th>
                          <th> Description</th>
                          <th> Price</th>
                          <th> Quantity</th>
                          <th> Email-Address </th>
                          
                      </thead>
                      <tbody>
                          <tr
                              *ngFor="let data of products| orderBy: key : reverse  | filter:filter |paginate: { itemsPerPage: pageControl.limit, currentPage: pageControl.page, totalItems: pageControl.count };let i = index;">
                              <td>{{ i+pageControl.skip+1 }}</td>
                              <td>{{data?.id}}</td>
                              <td>{{data?.name}}</td>
                              <td> {{data?.description}}</td>
                              <td>{{data?.price}}</td>
                              <td>{{data?.quantity}}</td>
                              <td>{{data?.email}}</td>
                              
                          </tr>
                      </tbody>
                  </table>
                  
              </div>

              

          </div>
      </div>
  </div>
</div>