/* You can add global styles to this file, and also import other style files */
table, th, td 
{
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
    color: blue;
}
/* You can add global styles to this file, and also import other style files */

.text-error {
    color: #dc2626;
    margin-top: 5px;
}

.required:after {
    content: '*';
    color: #dc2626;
    padding-left: 5px;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.cursor-pointer {
    cursor: pointer;
}

.action-fa {
    font-size: 20px;
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

